# Laravel関連
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.phpunit.result.cache
bootstrap/cache/*

# Docker関連
docker-compose.override.yml
docker/mysql/data/ca-key.pem
mysql/data/*.pem
*.pem
*.crt
*.key
*.pid
docker/mysql/data/ca-key.pem
docker/mysql/data/client-key.pem

# Homestead関連
Homestead.json
Homestead.yaml

# ログ・エラー
npm-debug.log
yarn-error.log
*.log

# IDE・エディタ・OS
/.idea
/.vscode
.DS_Store
Thumbs.db
