.profile-edit-container {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}

.profile-edit-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.profile-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;
    align-items: center;
    margin-bottom: 30px;
}

.profile-image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background: #d9d9d9;
}

.image-select-btn {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #ff5555;
    border-radius: 6px;
    color: #ff5555;
    cursor: pointer;
    font-size: 14px;
}

.image-input {
    display: none;
}

/* 入力フォーム */
.profile-edit-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.profile-edit-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.profile-edit-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 更新ボタン */
.update-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.update-button:hover {
    background-color: #e14444;
}
